<section class="hero">
  <div class="container">
    <h1>Welcome to My Portfolio</h1>
    <p class="lead">
      Hello! My name is Juan Garcia and I recently graduated with B.S in Computer Science.
      I am a passionate web developer with experience in Angular, HTML, CSS, and Java!
      I created this website to showcase my projects, skills, and some information about me.
    </p>
    <div>
      <a class="btn btn-primary" routerLink="/projects">View Projects</a>
      <span class="button-spacing"></span>
      <a class="btn btn-primary" href="https://www.linkedin.com/in/jugarcia15/">Go to my LinkedIn</a>
    </div>
  </div>
</section>

<section class="about-me">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title">About Me</h2>
        <p class="section-description">
          My name is Juan Garcia. I recently graduated with a B.S. in Computer Science from Western Governors University in July 2022,
          where I gained experience in programming languages such as Java, Python, and C++.
          Throughout my academic journey, I developed a passion for programming and software development.
          I also completed a few projects during my degree and earned a Capstone Excellence award for my multi-class image classifier I developed for my Capstone project.
        </p>
        <p class="section-description">
          I believe I am a highly motivated and detail-oriented individual and
          enjoyed completing my coursework involving database management, software engineering, and artificial intelligence.
        </p>
        <p class="section-description">
          I decided to join the Java cohort with GenSpark because of the comprehensive curriculum and the opportunity to work on real-world projects.
          I believe joining a group of like-minded individuals helps one stay accountable
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/portfolio/banner-image3.jpg" alt="About Me" class="img-fluid">
      </div>
    </div>
  </div>
</section>


<section class="section-nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<section id="projects">
  <!-- Projects content goes here -->
  <div>
    <app-projects></app-projects>
  </div>

</section>

<section id="skills">
  <!-- Skills content goes here -->
  <div>
    <app-skills></app-skills>
  </div>

</section>

<section id="experience">
  <!-- Experience content goes here -->
  <div>
    <app-experiences></app-experiences>
  </div>
</section>

<section id="education">
  <!-- Education content goes here -->
  <div>
    <app-education></app-education>
  </div>

</section>

<section id="contact">
  <!-- Contact content goes here -->
  <div>
    <h2 class="section-title">Contact</h2>
      <div class="contact-info">
        <h3>Get in Touch</h3>
        <p><i class="fas fa-map-marker-alt"></i> Houston, Texas</p>
        <p><i class="fas fa-phone-alt"></i> LinkedIn: <a href="https://www.linkedin.com/in/jugarcia15/">Jugarcia15</a></p>
        <p><i class="fas fa-envelope"></i> Email: Juan.Garcia1@genspark.net</p>
      </div>

  </div>
</section>
