<div class="container" class="skills-section">
  <h2 class="section-title">Experience</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="experience">
        <h3>Java Full Stack Developer</h3>
        <h4>GenSpark</h4>
        <p class="date">March 2023 - Present</p>
        <p>
          Leveraged sound coding practices by implementing small manageable testable methods, good descriptive commenting, and using version control.
          Practiced the Agile Methodology throughout the Training Program.
          Built several full stack projects using Java, Spring Boot, Hibernate, MySQL, and Angular.
          Underwent intense testing during and after the training using an AI proctored assessment tool.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="experience">
        <h3>Customer Service Advisor</h3>
        <h4>Concentrix</h4>
        <p class="date">August 2022 - March 2023</p>
        <p>Listen attentively to customer needs and concerns; demonstrate empathy while maximizing opportunity to build rapport with customer.
          Answer incoming call center questions about insurance policies and insurance coverage issues, as well as general inquiries.
          Manages customer concerns from initial call to resolution, escalates outstanding issues.</p>
      </div>
    </div>
    <!-- Add more experiences here -->

    <div class="col-md-6">
      <div class="experience">
        <h3>Clerk Technician</h3>
        <h4>Aerotek</h4>
        <p class="date">February 2021 - November 2021</p>
        <p>Provide administrative support to the General Manager, Plant Manager, HR Manager, and Customer Service Manager,
          and other staff to ensure efficient operation of office. Assist with HR onboarding, track new hire candidates,
          and maintain employee personnel files in a secure and orderly fashion.
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="experience">
        <h3>Administrative Assistant</h3>
        <h4>Jerson's Concrete</h4>
        <p class="date">September 2018 - February 2021</p>
        <p>
          Provide administrative support to management such as filing, typing, copying, scanning, etc.
          Facilitate ordering and delivery of parts for concrete truck repairs.
          Meet prospective clients and record measurements for concrete bids.
        </p>
      </div>
    </div>

  </div>
</div>
