<div class="container" class="skills-section">
  <h2 class="section-title">Experience</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="experience">
        <h3>Web Developer</h3>
        <h4>ABC Company</h4>
        <p class="date">June 2018 - Present</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend pretium fringilla.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="experience">
        <h3>Front-end Developer</h3>
        <h4>XYZ Agency</h4>
        <p class="date">January 2016 - May 2018</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend pretium fringilla.</p>
      </div>
    </div>
    <!-- Add more experiences here -->
  </div>
</div>
