<section class="projects">
  <div class="container" >
    <h2 class="section-title">Projects</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card" class="project-box">
          <img src="../../../assets/portfolio/p1.png" class="card-img-top" class="square-image" alt="Project 1">
          <div class="card-body" >
            <h5 class="card-title">Multi-Class Image Classifier</h5>
            <p class="card-text">Practicing machine learning in Python.</p>
            <a href="https://github.com/Jugarcia15/Multi-Class-Image-Classifier" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" class="project-box">
          <img src="../../../assets/portfolio/p2.png" class="card-img-top" class="square-image" alt="Project 2">
          <div class="card-body">
            <h5 class="card-title">Appointment Scheduler</h5>
            <p class="card-text">Appointment Scheduler Application using a Database (Java, JavaFX, MySQL, JDBC).</p>
            <a href="https://github.com/Jugarcia15/Appointment-scheduler-application" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" class="project-box">
          <img src="../../../assets/portfolio/p3.png" class="card-img-top"  class="square-image" alt="Project 3">
          <div class="card-body">
            <h5 class="card-title">Inventory Management System</h5>
            <p class="card-text">Creating an Inhouse, outsourced inventory system. Practicing creating Java apps and GUI using Scenebuilder.</p>
            <a href="https://github.com/Jugarcia15/Inventory-Management-Application" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" class="project-box">
          <img src="../../../assets/portfolio/p4.png" class="card-img-top"  class="square-image" alt="Project 3">
          <div class="card-body">
            <h5 class="card-title">First Website</h5>
            <p class="card-text">Learning and Practicing Web Development without templates. Practicing HTML and CSS.</p>
            <a href="https://github.com/Jugarcia15/Jugarcia15.github.io" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" class="project-box">
          <img src="../../../assets/portfolio/p5.png" class="card-img-top"  class="square-image" alt="Project 3">
          <div class="card-body">
            <h5 class="card-title">Pong Recreation</h5>
            <p class="card-text">Learning Game Dev in Unity.</p>
            <a href="https://github.com/Jugarcia15/Game-Development.git" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
