<div class="container" class="skills-section">
  <h2 class="section-title">Skills</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="skill">
        <i class="fab fa-html5"></i>
        <h3>HTML</h3>
        <p>Proficient in creating semantically structured HTML markup with the latest standards.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="skill">
        <i class="fab fa-css3"></i>
        <h3>CSS</h3>
        <p>Skilled in writing CSS stylesheets and implementing responsive designs using media queries.</p>
      </div>
    </div>
    <!-- Add more skills here -->
    <div class="col-md-6">
      <div class="skill">
        <i class="fab fa-js"></i>
        <h3>JavaScript</h3>
        <p>Experience in developing interactive and dynamic web applications using JavaScript.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="skill">
        <i class="fab fa-react"></i>
        <h3>Angular</h3>
        <p>Familiarity with building user interfaces and single-page applications using the Angular framework.</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="skill">
        <i class="fas fa-database"></i>
        <h3>Database Management</h3>
        <p>Experience in designing and managing relational databases using SQL and working with ORMs like Sequelize.</p>
      </div>
    </div>
    <!-- Add more skills here -->

  </div>
</div>
