<div class="container" class="skills-section">
  <h2 class="section-title">Education</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="education">
        <h3>Bachelor of Science in Computer Science</h3>
        <h4>ABC University</h4>
        <p class="date">2016 - 2020</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend pretium fringilla.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="education">
        <h3>Master of Business Administration</h3>
        <h4>XYZ Business School</h4>
        <p class="date">2021 - Present</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend pretium fringilla.</p>
      </div>
    </div>
    <!-- Add more education here -->
  </div>
</div>
