<div class="container" class="skills-section">
  <h2 class="section-title">Education</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="education">
        <h3>Bachelor of Science in Computer Science</h3>
        <h4>Western Governors University</h4>
        <p class="date">July 2022</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="education">
        <h3>Associate of Science in Computer Science</h3>
        <h4>San Jacinto Community College</h4>
        <p class="date">2018</p>
      </div>
    </div>
    <!-- Add more education here -->
  </div>
</div>
